*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
body {
    font-family: 'DM Sans';
}

.page-width {
    margin:0 auto;
    padding:0 12px;
}

@media (min-width: 576px) {
    .page-width {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .page-width {
        max-width: 720px;
    }
}
@media (min-width: 992px){
    .page-width {
        max-width: 960px;
    }
}
@media (min-width: 1200px){
    .page-width {
        max-width:1120px;
    }
}
@media (min-width: 1400px) {
    .page-width {
        max-width: 1320px;
    }
}

/* ---------------Header-------------- */
.site-header{
    /* border:1px solid #000; */
    background-color: #273053;
    align-items: center;
    position:sticky;    
    z-index:1000;
    top:0;
    left:0;
    width:100%;
    padding: 15px 0;
}
.site-header .page-width > .flex-container{
    align-items: center;
    justify-content: space-between;
}
.header-right .flex-container{
    align-items: center;
}

/* --------------Nav Bar--------------- */
nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    /* padding:2px; */
}

.flex-container{
    display: flex;
    flex-wrap:  wrap;
}
.hide-desktop{
    display: none;
}
/* .tabs{
    width:100%;
} */

.header-menu li{
    list-style-type: none;
    /* padding: 20px; */
    
    /* font-size: 18px; */
}

.header-menu a{
    text-decoration:none;
    color: #fff;
    padding: 15px 20px;
    display:block ;
}

.header-menu a:hover{
    color:#0dcaf0;
    transition-duration: 0.5s;
}
#nav li.current a{
    color: #0dcaf0;
}

.header-menu ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img_logo{
    color: #0dcaf0;
}

.logo{
    font-size:20px; 
    line-height: 1;
    font-weight: 600;
    padding:5px 0;
    /* margin-right: 102px;
    margin-left: -40px; */
}

.logo a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:4px;
    text-decoration:none;
}

.logo i{
    font-size: 38px;
}

.ticket_button{
    background-color:#0d6efd;
    border-radius:30px;
    padding: 12px 22px;
    align-items: center;
    color:#fff;
    align-items: center;
    font-weight: 600;
    text-decoration: none;
    display: block;
}

.ticket_button:hover{
    background-color: #0dcaf0;
    transition:0.5s;
    color: #fff;
    
}


/* -------------container--------- */
.hero-banner {
    position: relative;
    height: calc(90vh - 84px);
    width: 100%;
}

#myVideo {
    position: relative;
    right: 0;
    bottom: 0;
    object-fit: cover;
    width:100%;
    height: 100%;
}

.hero-banner::before{
    content: '';
    top:0;
    left:0;
    width: 100%;
    border: none;
    height: 100%;
    background: rgba(0, 0, 0, 0) linear-gradient(rgba(39, 48, 83, 0.1) 0%, rgb(39, 48, 83) 100%) repeat scroll 0% 0%;
    position: absolute;
    z-index: 20;
}

.container_all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    object-fit: cover;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 30;
}

.title{
    /* font-size:60px; */
    padding: 21px 6px 3px 18px;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 0.5px;
    text-align: center;
    /* margin-bottom: 7px; */
}

.title_1{
    color:#0dcaf0;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 60px;
}

.title_2{
    color:#fff;  
    align-items: center;
    font-size: 60px;
    display: flex;
    justify-content: center;
}

.location{
    /* display: flex;
    flex-direction: column;    */
    /* border: 1px solid #fff; */
    padding:14px 0 0 0;
    color:#ffffff;
    margin-bottom: 44px;
    /* margin-left:10px */
}
.location ul{
    display: flex;
    list-style: none;
}
.location ul li{
    padding:10px 20px;
    border: 1px solid #e7e3e3; 
    font-size: 16px;
}

.location .date{
    /* font-size: 16px; */
    border-right: none;
}

/* .downarrow { */
    /* margin-bottom: 45px; */
    /* margin-top: 16px; */
    /* margin-left: 10px; */
/* } */

.arrow{
    padding:8px 14px;
    background-color: #fff;
    font-size:22px;
    color:#000;
    border-radius:100px;
    text-decoration: none;
}

.arrow:hover{
    transition: 0;
    color:#fff;
    background-color: #0dcaf0;
}


/* --------Container Box-------- */

.img_container{
    color:#fff;
    width: 100%;
    border: none;
    /* margin-bottom: 10px; */
    background-color: #273053;
    justify-content: center;
    align-items: center;
    display: flex;
}

.inside_box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 20px;
    /* margin-left: 3px; */
    flex-wrap: wrap;
    width: 100%;  
    justify-content: space-between;
}

.contentbox1 {
    /* padding: 86px; */
    font-size: 18px;
    align-items: center;
    display: flex;
    justify-content: center;
    
}

.contentbox2 {
    /* background-image: url(./img2.jpg); */
    /* padding: 86px; */
    font-size: 18px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.contentbox3 {
    /* background-image: url(./img3.jpg); */
    /* padding: 86px; */
    font-size: 18px;
    /* object-fit: cover; */
    align-items: center;
    display: flex;
    justify-content: center;
}

.imgbox1{
    height:100%;
    position: relative;
    width:100%; 
    object-fit: cover;
    display: block;
}

.box_title{
    color:#ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    z-index:2;
    font-size: 34px;  
    margin-top: -1px;
    margin-left: 2px;
    letter-spacing: 0.9px;
    transform:translate(-50%,-50%);
    text-align: center;
    transition: all 0.4s cubic-bezier(0.12, 0, 0.39, 0) 0s;    margin-top:10px;
}

.boxcoll .icon-youtube{
    color: red;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    font-size: 55px;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: all 0.4s cubic-bezier(0.12, 0, 0.39, 0) 0s;    
    z-index:1;
    opacity: 0;
    margin-top:10px;
    visibility: hidden;
}


.boxcoll{
    /* padding: 11px; */
    position: relative;
    width: calc(33.33% - 12px);
}

.imgbox_container::after{
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.5);
    transition: all 0.4s cubic-bezier(0.12, 0, 0.39, 0) 0s;
}

.imgbox_container{
    overflow: hidden;
    position: relative;
}

/* .imgbox_container:hover {
    background-color: #0dcaf0;
} */

.imgbox_container:hover::after{
    background-color: rgba(0, 0, 0, 0.8);
}
.imgbox_container:hover img{
    transform: scale(1.2);
}

.imgbox_container:hover .box_title{
    margin-top:0;
    opacity: 0;
    visibility: hidden;
}
.imgbox_container:hover .icon-youtube{
    opacity: 1;
    margin-top:0;
    display: block;
    visibility: visible;
}

.imgbox_container img{
    transition: all 0.4s cubic-bezier(0.12, 0, 0.39, 0) 0s;}
/* ----------Body Part--------- */

.body_story{
    width: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
    /* justify-content: center; */
    align-items: center;
}

.storytitle{
    font-size: 46px;
}

.storytitle2{
    color:#0dcaf0;
    text-decoration: underline;
}

/* .bodypart{
   margin-right: 70px;
   margin-left: 70px;
   padding-left: 12px;
   padding-right: 12px;
} */

.story{
    margin-bottom:25px;
    letter-spacing: 1px;
    /* padding-left: 12px; */
}

.storydetails{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
/* -------Left side bodypart------- */
.lefthead{
    font-size:36px;
    margin-bottom:14px;
    line-height: 1.2;
    padding-right: 20px;
    letter-spacing: 0.2px;
}

.leftpart{
    width:50%;
    /* padding-left:12px; */
    padding-right:12px;
}

.details1{
    color:#717275;
    line-height:1.54;
    font-size:18px;
    margin-bottom:44px;
}

.meet_speakers{
    color:#0dcaf0;
    border:2px solid #0dcaf0;
    padding:12px 20px;
    border-radius:20px;
    font-size:16px;
    font-weight:600;
    margin-right:16px;
    text-decoration: none;
}

.schedule{
    color:#fff;
    background-color:#273053;
    border: 2px solid #273053;
    padding: 11px 20px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.meet_speakers:hover{
    color:#fff;
    background-color:#0dcaf0;
}

.schedule:hover{
    background-color: #0dcaf0;
    color:#fff;
    border:2px solid #0dcaf0;
}

/* -----Right Side Bodypart----- */
.rightpart{
    width:50%;
    /* padding-left: 12px; */
    /* padding-right: 12px; */
    /* margin-left:5px; */
}

.righthead{
    font-size:32px;
    padding-bottom:48px;
    border-bottom:1px solid #dee2e6;
    line-height: 1.2;
    padding-left: 6px;
    letter-spacing: -0.3px;
}

.avatarimg{
    margin-top: 47px;
    padding-left: 6px;
}
.avatar{
    height: 50px;
    width:50px;
    object-fit: cover;
    border: 2px solid #fff;
    border-radius: 100px;
}

.avatar1,.avatar2,.avatar3 {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border: 2px solid #fff;
    border-radius: 100px;
    position:absolute;
}

.avatar1 {
    margin-left: 42px;
}

.avatar2{
    margin-left:82px;
}

.avatar3 {
    margin-left: 123px;
}

.avatarimg{
    display: flex;
    flex-direction: row;
}

.textright{
    color:#717275;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size:18px;
    margin-left:165px;
}

/* ----------------- Block Speakers -------------- */
.block_speaker{
    background-color: #f0f8ff;
    margin-top: 50px;
    padding: 120px 0;
}

.speaker_info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

/* .speaker_list{
    margin: 88px 58px 78px 112px;
} */

.left_speaker{
    width: 50%;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-left: 14px; */
    padding:50px;
    /* margin: 10px 0 10px 0; */
}

.speaker_title{
    font-size: 46px;
    padding-bottom: 22px;
    /* margin-top: -10px; */
    letter-spacing: 1.3px;
}

.spanid{
    color:#0dcaf0;
    text-decoration: underline;
}

.textword1{
    color:#717275;
    line-height: 1.6;
    font-size: 18px;
    width:90%
}

/* ------------- right speaker---------------- */
.right_speaker{
    width:50%;
    /* height: 360px; */
    overflow: hidden;
    position: relative;
    display: block;
}

.logan{
    width: 100%;
    height: auto;
    /* position: absolute; */
    display: block;
    object-fit: cover;
}

.speaker_info_block{
    position: relative;
}

.tag1{
    position:absolute;
    background-color:#0d6efd;
    padding: 6px 11px;
    color:#fff;
    top:3%;
    right:10px;
    border-radius: 6px;
    font-size:12px;
}

.right_speaker .position-relative{
    position: relative;
    z-index: 2;
    width: 100%;
    justify-content: space-between;
}

.insidename{
    padding-right: 62px;
}

.right_speaker .name{
    position: absolute;
    /* border-left: 6px solid #0dcaf0; */
    width:92%;
    bottom: 20px;
    left:4%;
    padding: 8px 12px;
    background-color: #fff;
    z-index: 2;
}
.right_speaker .name:before {
    content:'';
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width:6px;
    background-color:#0dcaf0;
    z-index:1;
    transition: all 0.6s linear;
}

.namelogan{
    font-size: 24px;
    /* color:#fff */
}

.namelogan_position{
    font-size: 12px;
    color:#717275;
}

.right_speaker .name{
    display: flex;
}

.right_speaker:hover .name:before{
    width:100%;
}

.right_speaker:hover .namelogan{
    color:#fff;
    transition: all 0.2s linear;
}
.right_speaker:hover .namelogan_position{
    color:#fff;
    transition: all 0.2s linear;
}

.nameicon{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 190px; */
    visibility: hidden;
    position: absolute;
    right: 10px;
    top:10px;
}

.icon-social{
    color:black;
    padding: 3px 8px;
    background-color: #fff;
    border-radius: 50px;
    font-size:20px;
    margin-right:5px;
}

.right_speaker:hover .nameicon{
    transition-delay:0.8s;
    visibility: visible;
}

.icon-social:hover{
    background-color: #0dcaf0;
    color: #fff;
    transition:0.4s;
    /* font-size: 18px; */
}

/* --------other speakers----------------------- */
.otherspeaker{
    margin-top: 25px;
    width: 100%;
    /* margin-left: -40px; */
}
.list_of_speakers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 24px; */
    justify-content: space-between;
}
.list_other_speaker {
    width: calc(25% - 15px);
    height: auto;
    overflow: hidden;
    position: relative;
    display: block;
}

.speakersimg{
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    object-fit: cover;
}

.list_other_speaker .name {
    position: absolute;
    /* border-left: 6px solid #0dcaf0; */
    width: 92%;
    bottom: 20px;
    left: 4%;
    padding: 8px 12px;
    background-color: #fff;
    z-index: 2;
}

.list_other_speaker .position-relative {
    position: relative;
    z-index: 2;
    width: 100%;
    justify-content: space-between;
}

.list_other_speaker .name:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    
    background-color: #0dcaf0;
    z-index: 1;
    transition: all 0.6s linear;
}

.list_other_speaker:hover .name:before {
    width: 100%;
}

.speakername {
    font-size: 22px;
}

.speakername_position {
    font-size: 12px;
    color: #717275;
    padding-top: 2px;
}

.list_other_speaker .name {
    display: flex;
    transition: all 0.2s linear;
}

.list_other_speaker:hover .name {
    color: #fff;
}

.list_other_speaker:hover .speakername_position {
    color: #fff;
}

.nameicon2 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 18px; */
    visibility: hidden;
    position: absolute;
    top:10px;
    right:0;
}

.icon-social2 {
    color: black;
    padding: 3px 8px;
    background-color: #fff;
    border-radius: 50px;
    font-size: 18px;
    margin-right: 5px;
}

.list_other_speaker:hover .nameicon2 {
    visibility: visible;
    transition: all 1s linear;
}

.icon-social2:hover {
    background-color: #0dcaf0;
    color: #fff;
    transition: 0.4s;
    /* font-size: 17px; */
}

.list_other_speaker:hover .nameicon2 {
    transition-delay: 0.4s;
    visibility: visible;
}

/* #idicon{
    margin-left: 15px;
} */

/* ------------------------ Schedule Section ------------------ */
.schedule_section{
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding-bottom: 78px;
}

.schedule_div{
    width:100%;
    /* border: 1px solid black; */
}

.title_schedule{
    display: flex;
    justify-content: center;
}

.schedule_title{
    font-size: 48px;
    padding: 80px 0 48px 15px;;
}

.schedule_div .spantitle2{
    color:#0dcaf0;
    text-decoration: underline;
}

/* ------------- button ------------ */
.day_box_block{
    display: flex;
    flex-direction: row;
    /* gap:17px; */
    margin-bottom:9px;
    flex-wrap: wrap;
}

.day_insidebox{
    display: block;
    width: 25%;
}

.schedule_day{
    background-color: #ffffff;
    border:none;
    display: flex;
    align-items: start;
    width:100%;
    padding: 20px 30px;
    border-left:3px solid #f0f8ff;
    cursor: pointer;;
    /* padding: 20px 100px 20px 20px; */
}

#dayoneschedule{
    border-left:none;
}

.day_insidebox a{
    text-decoration: none;
}

.schedule_day h3{
    font-size:36px;
    letter-spacing: -1px;
    color:#000;
}

.schedule_day span{
    font-size:16px;
    font-weight: lighter;
    color:#717275;
    display: flex;
    align-items: start;
    letter-spacing: -0.4px;
    
}

.day_insidebox:hover .schedule_day{
    background-color: #fff;
    border-left: 3px solid #0dcaf0;
    box-shadow: 2px 10px 50px rgba(0, 0, 0, 0.175);
}

.day_insidebox.active .schedule_day {
    background-color: #fff;
    border-left: 3px solid #0dcaf0;
    box-shadow: 2px 10px 50px rgba(0, 0, 0, 0.175);
}

.day_insidebox:hover, .day_insidebox.active .schedule_day h3{
    color:#0dcaf0;
}

/* -------------------------- Schedule Info ----------------- */

.info_block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 23px; */
    padding-bottom: 46px;
    padding-top: 48px;
    border-bottom: 1px solid #dee2e6;
}

.info_block_id{
    border-bottom:none;
}

.info_img{
    height: auto;
    width:33.33%;
    padding-right: 24px;
    /* border: 1px solid darkblue; */
    display: block;
    /* border-radius: 10px; */

    
}
.info_img img{ 
    display: block;
    height:auto;
    width:100%;
    object-fit: cover;
    border-radius: 20px;
}

.info_details{
    width:66.67%;
}

.info_details .info1_head{
    font-size: 32px;
    padding-bottom: 7px;
    letter-spacing: -0.1px;
}

.info1_head_explain{
    font-size:18px;
    color:#717275;
    line-height: 1.43;
}

.trainee{
    display: flex;
    flex-direction: row;
    gap:60px;
    align-items: center;
    padding-top:28px;
}

.trainee img{
    width: 45px;
    height: 45px;
    border-radius: 100px;
    object-fit: cover;
}

.imgname_trainee{
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    /* align-items: center; */
    width: 190px;
    margin-left: -15px;
    /* margin-right: -56px; */
}

.name_trainee span{
    color:#717275;
    font-size: 11px;
}

.name_trainee p{
    font-size:16px;
}

.time_trainee i,.hall_trainee i{
    padding-right:6px;
}

/* --------------------- Register Section ---------- */
.register{
    background-image: url(./images/terren-hurst-blgOFmPIlr0-unsplash.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
   width: 100%;
    padding-top: 100px;
    padding-bottom:100px;
    background-attachment: fixed;
    position: relative;    
}

.register::before{
    content: '';
    background-color: rgba(0, 0, 0, 0.45);
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.register_section{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* gap:90px; */
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
}

.register_section .left_register{
    width:60%;
}

.register_section .right_register{
    width: 40%;
    display: flex;
    margin-top: 20px;
    margin-right: -16px;
    justify-content: center;
}

.left_register h2{
    font-size: 48px;
    color:#fff;
    padding-bottom: 22px;
    letter-spacing: 0.1px;
    padding-left: 1px;
}

.left_register h2 span{
    color:#0dcaf0;
}

.left_register p{
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
}

.right_register .button_register{
    background-color: #fff;
    padding: 12px 20px;
    color:#000;
    font-weight: 800;
    border-radius: 30px;
    text-decoration: none;
}

.button_register:hover{
    color:#fff;
    background-color: #0dcaf0;
    transition:all 0.1s linear;
}

/* ------------------------ Ticket Section ------------------ */

.ticket_section{
    /* border:1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 117px;
    margin-bottom: 20px;
    /* padding: 2px; */
}

.ticket_section h2{
    font-size: 48px;
    color:#000;
    padding-bottom: 54px;
    /* padding-left: 18px; */
}

.ticket_section h2 span{
    color:#0dcaf0;
    text-decoration: underline;
}

.ticket_option{
    display: flex;
    flex-direction: row;
    /* gap:25px; */
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin-left: 15px; */
}

.ticket_optionbox{
    /* border: 1px solid black; */
    width: calc(33.33% - 12px);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 3px 10px 50px #d4cdcd;
}

.ticket_head{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid black; */
    background-color: #273053;
    color:#fff;
    /* padding: 17px 4px 17px 40px; */
    padding:17px 40px;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    /* gap:76px; */
}

.head_name h3{
    font-size: 32px;
}

.price h4{
    font-size: 24px;
}
.ticket_body{
    color: #717275;
    font-size: 18px;
    padding: 23px 36px;
}

.body_details{
    padding-bottom: 36px;
    /* border:1px solid #717275; */
    border-bottom: 1px solid #dee2e6;
}

.body_details p{
    padding-top: 20px;
    justify-content: start;
    display: flex;
}
.body_details p span{
    padding-right: 10px;
}

.other_details a{
    color:#fff;
    background-color: #273053;
    border-radius: 25px;
    padding: 12px 20px;
    font-weight: 600;
    text-decoration: none;
    font-size: 16px;    
}

.other_details{
    padding-bottom: 34px;
}

.other_details a:hover{
    background-color: #0dcaf0;
    color:#fff;
    transition: all 0.1s linear;
}

.other_details p{
    padding-top:22px ;
    padding-bottom: 44px;
}

/* --------------------------------- Venue Location ------------------ */
.venue_section{
    /* border: 1px solid black; */
    margin-top:100px;
    width: 100%;
    padding-top:94px;
    padding-bottom: 110px;
    background-color: #f0f8ff;
}

.venue_block{
    /* border:1px solid black; */
    width:100%;
    margin-left: auto;
    margin-right: auto;
}

.venue_block h2{
    font-size: 48px;
    padding-bottom: 44px;
    /* padding-left: 18px; */

}

.venue_block h2 span{
    color:#0dcaf0;
    text-decoration:underline;
}

.venue_block_flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap:47px; */
    width: 100%;
    justify-content: space-between;
}

.venue_location{
    width: calc(50% - 10px);
    height: auto;
    align-items: center;
    display: block;
}

.venue_location iframe{
    width:100%;
    display: block;
    height: 377px;
    border-radius: 20px;
    box-shadow: 1px 4px 25px rgba(192, 189, 189, 0.45);
}

.venue_address{
    border-radius: 20px;
    background-color: #fff;
    width: calc(50% - 10px);
    /* height:auto; */
    display: block;
    overflow: hidden;
    box-shadow: 1px 3px 40px rgba(129, 127, 127, 0.45);
}

.venue_address_title{
    background-color: #273053;
    padding: 18px 40px;
    color:#fff;
}
.venue_address_title h3{
    font-size: 48px;
}

.venue_contact_address{
    padding:20px 44px;
    letter-spacing: -0.3px;
    /* background-color: #161616; */
}

.venue_contact_address p a{
    color:#717275;
    letter-spacing: -1px;
    text-decoration: none;
}

.venue_contact_address p a:hover{
    color:#0dcaf0;
    transition: all 0.1s linear;
}

.venue_contact_address p{
    padding-top:18px;
}

.venue_contact_address .venue_exact_address{
    font-size: 32px;
    font-weight: 800;
}

.venue_contact_address p{
    font-size: 24px;
    font-weight: 800;
}

.venue_contact_address span{
    padding-right:8px;
}

.venue_contact_address i{
    padding-right: 5px;
}

.address1,.address2{
    display:flex;
}

.address1 .material-symbols-outlined{
    margin-top: 22px;
    font-size: 34px;
    margin-left:-8px;
}

.address2 .material-symbols-outlined{
    margin-top:22px;
    margin-left:-4px;
    margin-right:5px;
    color:#717275;
} 

.address2 a{
    color:#717275;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: -1px;
    text-decoration: none;
}

.address2 a:hover{
    color:#0dcaf0;
    transition:all 0.1s linear;
}

/* --------------------- Form Section ------------- */
.form_section{
    /* border:1px solid black; */
    background-image: url(./images/maria-stewart-p4tj0g-_aMM-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 120px;
    padding-bottom:118px;
    width: 100%;
}

.form_container{
    /* border: 1px solid black; */
    border-radius: 20px;
    /* width:100%; */
    max-width: 712px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    overflow: hidden;

}

.form_title{
    background-color: #273053;
    color:#fff;
    padding: 28px 55px;
}

.form_title h2{
    font-size:48px;
}

.form_section form{
    padding: 60px 51px;
}

form .form_lineone{
    display:flex;
    /* flex-direction: row; */
    /* width: 100%; */
    /* gap:20px; */
    padding-bottom: 24px;
    flex-wrap: wrap;
    justify-content: space-between;
}

 .form_lineone_top{
    width:calc(33.33% - 12px);
}

form .error {
    color: red;
}

form .form_lineone input{
    padding: 14px 12px;
    border: none;
    font-weight: lighter;
    width:100%;
    font-size: 18px;
    color: #212529;
    background-color:#f0f8ff;
    font-family: Arial, Helvetica, sans-serif;
}

form .form_lineone input:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
    border-radius: 6px;
}

/* form .form_lineone input::placeholder {
    font-size: 17px;
} */

form .form_message textarea{
    width:100%;
    font-size: 18px;
    background-color: #f0f8ff;
    padding:13px 12px;
    border:none;
    color: #212529;  
    font-family: Arial, Helvetica, sans-serif;
}

form .form_message textarea:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
    border-radius: 6px;
}

.form_message{
    text-align: start;
    margin-left: auto;
    margin-right: auto;   
    /* background-color: #0dcaf0; */
    width: 100%;
    margin-bottom: -10px;
}

.form_section .form_message .button{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    cursor:pointer;
    font-size: 16px;
    font-weight: 600;
    background-color: #0dcaf0;
    color:#fff;
    border:none;
    border-radius: 100px;
    letter-spacing: 1px;
    margin-top: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.form_section .form_message .button:hover{
    background-color: #273053;
    transition: all 0.1s linear;
}

/* ---------------------------- Footer ------------------- */
footer{
    /* border: 1px solid black; */
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer_section{
    /* border: 1px solid black; */
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 120px; */
    width:100%;
    /* padding-bottom: 120px; */
}

.footer_block_one{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    padding-bottom: 54px;
    border-bottom: 1px solid #d4cdcd;
}

.title_footer{
    display: flex;
    align-items: center;
    width: 50%;
    gap: 10px;
}

.title_footer i{
    font-size: 36px;
    color: #0dcaf0;
}

.footer_block_one h3{
    width: 50px;
    color: #0dcaf0;
    line-height: 1;
}

.social_media{
    display: flex;
    gap: 12px;
    width: 50%;
    justify-content: end;
    flex-wrap: wrap;
    /* margin-right: -8px; */
}

.social_media a{
    color:#000;
    border-radius: 100px;
    padding: 8px 12px;
    font-size: 22px;
}

.social_media a:hover{
    color:#fff;
    background-color: #0dcaf0;
    transition: all 0.1s linear;
}


/* -------- Second Block Footer ----- */
.footer_block_two{
    padding-top:30px;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    flex-wrap: wrap;
}

.footer_block_two .div_one{
    display:flex;
    gap:21px;
    width:50%;
    flex-wrap: wrap;
}

.footer_block_two a:hover{
    color:#0dcaf0;
}
.footer_block_two a{
    color: #717275;
    text-decoration: none;
}

.footer_block_two .div_two{
    color:#717275;
    display: flex;
    gap: 33px;
    width: 50%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.footer_block_two .div_two .design{
    padding-top: 30px;
}


.div_two .downarrow a{
    color:#000;
    background-color: #f0f8ff;
}
  

.div_two .downarrow a:hover{
    color:#fff;
    background-color: #0dcaf0;
    transition: all 0.1s linear;
}

/* ==-------------------------------------------=== */
.navbar-toggler{
    cursor: pointer;
    width:30px;
    height: 35px;
    background: none;
    border: none;
    display: none;
}
.navbar-toggler .navbar-toggler-icon {
    background: #ffffff;
    transition: background 10ms 300ms ease;
    display: block;
    width: 30px;
    height: 2px;
    position: relative;
}
.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
    transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
    transition: top 300ms 350ms ease, transform 300ms 50ms ease;
    transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
    position: absolute;
    right: 0;
    left: 0;
    background: #ffffff;
    width: 30px;
    height: 2px;
    content: '';
}
.navbar-toggler .navbar-toggler-icon::before {
    top: -8px;
}
.navbar-toggler .navbar-toggler-icon::after {
    top: 8px;
}


/* ------------------------------------------------- */
/* ------------------- Responsive ------------------ */
@media screen and (max-width: 1200px) {
    .ticket_button{
        font-size: 14px;
    }
    .header-menu a{
        font-size: 14px;
    }

}
@media screen and (max-width: 991px) {
    .hide-desktop {
        display: block;
    }
    .hide-mobile{
        display: none;
    }
    .navbar-toggler {
        display: block;
    }
    .header-menu{
        display: none;
    }
    .ticket_button{
        background-color: transparent;
    }
    .header-menu ul{
        flex-direction: column;
    }
    .header-right{
        width:100%; 
    }
    .header-menu ul{
        display: block;
    }
    .header-menu a{
        padding-left:0;
    }
    .navbar-toggler.close .navbar-toggler-icon{
        background-color: transparent;
    }
    .navbar-toggler.close .navbar-toggler-icon:before {
        transform: rotate(45deg);
        top:0;
    }
    .navbar-toggler.close .navbar-toggler-icon:after {
        transform: rotate(-45deg);
        top:0;
    }
    .hero-banner{
        height: calc(75vh - 78.39px);
    }

    .container_all .title h1{
        font-size: 48px;
    }

    .container_all .title h2 {
        font-size: 48px;
    }

    .img_container .boxcoll{
        width:50%;
    }

    .body_story{
        padding-top: 70px;
        padding-bottom: 36px;
    }

    .rightpart{
        width: 100%;
        margin-top: 50px;
    }

    .leftpart{
        width: 100%;
    }

    .story h1{
        font-size: 36px;
    }

    .block_speaker {
        padding-top: 10px;
        padding-bottom: 70px;
    }

    .leftpart .lefthead{
        font-size: 32px;
    }

    .rightpart h3{
        font-size: 28px;
    }

    .meet_speakers{
        font-size: 16px;
        padding: 8px 16px;
    }

    .schedule{
        font-size: 16px;
        padding:8px 16px;
    }

    .left_speaker{
        width: 100%;
    }

    .right_speaker {
        width: 100%;
    }

    .list_other_speaker{
        width: calc(50% - 12px);  
    }

    .list_of_speakers {
        gap: 24px;
    }

    .day_insidebox {
        width: 50%;
    }

    .schedule_section{
        padding-bottom: 24px;
    }

    .schedule_title {
        font-size: 36px;
        padding-top: 60px;
    }

    .schedule_day h3 {
        font-size: 32px;
    }

    .info_img {
        width: 100%;
        padding-right: 0;
    }

    .info_details{
        width:100%;
        padding-top: 10px;
    }

    .register_section .left_register {
        width: 100%;
    }

    .register_section .right_register {
        width: 100%;
        justify-content: start;
    }

    .left_register h2 {
        font-size: 36px;
    }

    .ticket_optionbox {
        width: calc(50% - 12px);
    }

    .ticket_option{
        gap: 24px;
    }

    .ticket_section h2 {
        font-size: 36px;
    }

    .head_name h3 {
        font-size: 28px;
    }

    .price h4 {
        font-size: 20px;
    }

    .ticket_section{
        padding-top: 68px;
    }

    .venue_block h2 {
        font-size: 36px;
    }

    .venue_location {
        width: 100%;
    }

    .venue_address{
        width:100%;
    }

    .venue_address_title h3 {
        font-size: 36px;
    }

    .venue_block_flex {
        gap:20px;
    }

    .form_section{
        padding-top: 94px;
        padding-bottom: 94px;
    }

    .form_title h2 {
        font-size: 36px;
    }

    .footer_block_two .div_one {
        width: 100%;
    }

    .footer_block_two .div_two {
        width: 100%;
        gap:0;
        justify-content: start;
    }

    .footer_block_two{
        padding-top: 50px;
        gap:24px;
    }

    .div_two .downarrow {
        width: 50%;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .venue_section{
        margin-top: 78px;
        padding-top: 58px;
        padding-bottom: 74px;
    }

    footer{
        padding-top:74px;
        padding-bottom: 74px;
    }
}

@media screen and (max-width: 768px){
    .img_container .boxcoll{
        width: 100%;
    }

    .imgbox_container{
        width: 100%;
    }

    .inside_box{
        width:100%;
        padding:0;
    }

    .boxcoll {
        padding:0;
        padding-bottom: 30px;
    }

    .list_other_speaker {
        width: 100%;
    }

    .trainee {
        gap: 16px;
    }

    .ticket_optionbox {
        width: 100%;
    }

    .venue_contact_address .venue_exact_address {
        font-size: 28px;
    }

    .venue_contact_address p {
        font-size: 20px;
    }

    form .form_lineone {
        gap:22px;
        padding-bottom: 22px;
    }

    .form_lineone_top{
        width: 100%;
    }

    form .form_lineone input {
        font-size: 16px;
    }

    form .form_message textarea {
        font-size: 16px;
    }

    .div_two .paragraph{
        width: 80%;
    }

    .div_two .downarrow{
        width: 20%;
    }
}

@media screen and (max-width: 480px) {
    .container_all .title h1{
        font-size: 38px;
    }

    .container_all .title h2 {
        font-size: 38px;
    }
    .location ul li {
        padding: 8px 18px;
        font-size: 14px;
    }

    .logo{
        font-size:16px;
    }

    .box_title{
        font-size: 28px;
    }

    .ticket_button{
        font-size: 13px;
    }

    .inside_box {
        width: 100%;
        padding: 0;
    }

   .bodypart {
       margin-left: 6px;
       margin-right: 6px;
    }

    .story h1 {
        font-size: 32px;
    }

    .leftpart .lefthead {
        font-size: 28px;
    }

    .rightpart h3 {
        font-size: 24px;
    }

    .meet_speakers {
        font-size: 13px;
        padding: 6px 12px;
    }

    .schedule {
        font-size: 13px;
        padding: 6px 12px;
    }

    .rightpart {
        padding:0;
    }

    .leftpart {
        padding: 0;
    }

    .story{
        padding: 0;
    }

    .meet_speakers{
        width: 122px;
    }

    .schedule{
        width:155px;
        margin-top:14px;
    }

    .imgname_trainee {
        margin-left: 0;
    }

    .left_register h2 {
        font-size: 32px;
    }

    .right_register .button_register {
        font-size: 13px;
    }

    .ticket_section h2 {
        font-size: 32px;
    }

    .head_name h3 {
        font-size: 24px;
    }

    .price h4 {
        font-size: 20px;
    }

    .other_details a {
        font-size: 13px;
    }

    .venue_block h2 {
        font-size: 32px;
    }

    .venue_address_title h3 {
        font-size: 32px;
    }

    .venue_contact_address .venue_exact_address {
        font-size: 24px;
    }

    .form_title h2 {
        font-size: 32px;
    }

    .footer_block_one{
        align-items: start;
    }

    .footer_block_one .social_media{
        gap:0;
        justify-content: start;
        margin-top: -10px;
        width: 40%;
    }

    .footer_block_two .div_one {
        justify-content: center;
    }
}

@media screen and (max-width: 374px) {
    .location ul{
        text-align: center;
    }

    .leftpart .button1 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .avatarimg{
        display: flex;
        flex-direction: column;
    }

    .avatarimg .textright{
        margin-left:0;
        margin-top: 12px;
    }

    .imgavatar{
        width: 60px;
        height: 60px;
    }

    .avatar1 {
        margin-left: 52px;
    }

    .avatar2 {
        margin-left: 103px;
    }

    .avatar3 {
        margin-left: 155px;
    }

    .logo {
        font-size: 14px;
    }

    .ticket_button {
        font-size: 12px;
    }


}

