*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
body {
    font-family: 'DM Sans';
}

.page_height{
   max-width: 1400px;
    /* min-width: 1400px; */
    /* position: relative; */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

/* ---------------Header-------------- */
header{
    /* border:1px solid #000; */
    padding:1px 156px;   
    background-color: #273053;
    align-items: center;
    position:fixed;    
    z-index:1000;
}

/* --------------Nav Bar--------------- */
nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    /* padding:2px; */
    width:1042px;
    
}

.flex-container{
    display: flex;
    flex-wrap: nowrap;
}
/* .tabs{
    width:100%;
} */

.tabs{
    /* width: 100%; */
    padding-left: 76px;
    margin-right: -67px;
}

li{
    list-style-type: none;
    /* padding: 20px; */
    padding: 21px 22px 22px 19px;
    justify-content: center;
    align-items: center;
    display: flex;
    /* font-size: 18px; */
}

a{
    text-decoration:none;
    color: #fff;
    
}

a:hover{
    color:#0dcaf0;
    transition-duration: 0.5s;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img_logo{
    color: #0dcaf0;
}

.logo{
    width:103px;
    font-size:20px; 
    line-height: 1;
    font-weight: 600;
    /* margin-right: 102px;
    margin-left: -40px; */
}

.logo a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:4px;
}

.logo i{
    font-size: 38px;
}

.ticket_button{
    background-color:#0d6efd;
    border-radius:30px;
    padding: 9px 22px;
    align-items: center;
    color:#fff;
    /* width:40px; */
    align-items: center;
    font-weight: 600;
}

.ticket_button:hover{
    background-color: #0dcaf0;
    transition:0.5s;
    color: #fff;
    
}

/* -------------container--------- */
.container{
    height:856px;
    width:1177px;
    /* background-image: url(./public-speaker.png); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

#myVideo {
    position: relative;
    right: 0;
    bottom: 0;
    object-fit: cover;
    width: 1348px;
    height: 842px;
}

.container::before{
    content: '';
    top:0;
    left:0;
    width: 100%;
    height: 840px;
    /* background-color: rgba(14, 2, 56, 0.45); */
    position: absolute;
    z-index: 20;
}

.container_all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    object-fit: cover;
    height: 100%;
    margin-left: 8px;
    /* width: 870px; */
    z-index: 30;
    margin-right: auto;
}

.title{
    /* font-size:60px; */
    padding: 21px 6px 3px 18px;
    text-transform: uppercase;
    line-height: 1.2;
    margin-top: 157px;
    letter-spacing: 0.5px;
    margin-bottom: 7px;
}

.title_1{
    color:#0dcaf0;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 62px;
}

.title_2{
    color:#fff;  
    align-items: center;
    font-size: 62px;
    display: flex;
    justify-content: center;
}

.location{
    display: flex;
    flex-direction: row;   
    /* border: 1px solid #fff; */
    padding:14px 0 0 0;
    color:#ffffff;
    margin-bottom: 43px;
    margin-left:10px
}

.location ul li{
    padding:11px 20px;
    border: 1px solid #e7e3e3; 
}

.location .date{
    border-right:none;
}

.arrow{
    padding:8px 14px;
    background-color: #fff;
    font-size:26px;
    color:#000;
    border-radius:100px;
}

.arrow:hover{
    transition: 0;
    color:#fff;
    background-color: #0dcaf0;
}

.downarrow{
    margin-bottom: 45px;
    margin-top: 16px;
    margin-left: 10px;
}

/* --------Container Box-------- */

.img_container{
    color:#fff;
    width: 100%;
    margin-bottom: 10px;
    /* background-color: #273053; */
}

.inside_box{
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-left: 3px;
    /* flex-wrap: nowrap; */
    align-items: center;
    justify-content: center;    
}

.contentbox1 {
    /* padding: 86px; */
    font-size: 18px;
    align-items: center;
    display: flex;
    justify-content: center;
    
}

.contentbox2 {
    /* background-image: url(./img2.jpg); */
    /* padding: 86px; */
    font-size: 18px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.contentbox3 {
    /* background-image: url(./img3.jpg); */
    /* padding: 86px; */
    font-size: 18px;
    /* object-fit: cover; */
    align-items: center;
    display: flex;
    justify-content: center;
}

.imgbox1{
    height:241px;
    position: relative;
    width:356px;
    display: block;
    
}

.box_title{
    color:#ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    z-index:2;
    font-size: 34px;  
    margin-top: -1px;
    margin-left: 2px;
    letter-spacing: 0.9px;
    transform:translate(-50%,-50%);
    text-align: center;
    transition: all 0.4s cubic-bezier(0.12, 0, 0.39, 0) 0s;    margin-top:10px;
}

.boxcoll .icon-youtube{
    color: red;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    font-size: 55px;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: all 0.4s cubic-bezier(0.12, 0, 0.39, 0) 0s;    
    z-index:1;
    opacity: 0;
    margin-top:10px;
    visibility: hidden;
}


.boxcoll{
    padding: 11px;
    position: relative;
}

.imgbox_container::after{
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.5);
    transition: all 0.4s cubic-bezier(0.12, 0, 0.39, 0) 0s;
}

.imgbox_container{
    overflow: hidden;
    position: relative;
}

.imgbox_container:hover {
    background-color: #0dcaf0;
}

.imgbox_container:hover::after{
    background-color: rgba(0, 0, 0, 0.8);
}
.imgbox_container:hover img{
    transform: scale(1.2);
}

.imgbox_container:hover .box_title{
    margin-top:0;
    opacity: 0;
    visibility: hidden;
}
.imgbox_container:hover .icon-youtube{
    opacity: 1;
    margin-top:0;
    display: block;
    visibility: visible;
}

.imgbox_container img{
    transition: all 0.4s cubic-bezier(0.12, 0, 0.39, 0) 0s;}
/* ----------Body Part--------- */

.storytitle{
    font-size: 46px;
}

.storytitle2{
    color:#0dcaf0;
    text-decoration: underline;
}

.bodypart{
    margin: 109px 100px 100px 100px;
    margin-left: 126px;
}

.story{
    margin-bottom:25px;
    letter-spacing: 1px;
}

.storydetails{
    display:flex;
    flex-direction: row;
}
/* -------Left side bodypart------- */
.lefthead{
    font-size:36px;
    margin-bottom:14px;
    line-height: 1.2;
    padding-right: 20px;
    letter-spacing: 0.2px;
}

.leftpart{
    width:50%;
    padding-right:18px;
}

.details1{
    color:#717275;
    line-height:1.54;
    font-size:18px;
    margin-bottom:44px;
}

.meet_speakers{
    color:#0dcaf0;
    border:2px solid #0dcaf0;
    padding:12px 20px;
    border-radius:20px;
    font-size:16px;
    font-weight:600;
    margin-right:16px;
}

.schedule{
    color:#fff;
    background-color:#273053;
    border: 2px solid #273053;
    padding: 11px 20px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
}

.meet_speakers:hover{
    color:#fff;
    background-color:#0dcaf0;
}

.schedule:hover{
    background-color: #0dcaf0;
    color:#fff;
    border:2px solid #0dcaf0;
}

/* -----Right Side Bodypart----- */
.rightpart{
    width:50%;
    margin-left:5px;
}

.righthead{
    font-size:32px;
    padding-bottom:48px;
    border-bottom:1px solid #dee2e6;
    line-height: 1.2;
    padding-left: 6px;
    letter-spacing: -0.3px;
}

.avatarimg{
    margin-top: 47px;
    padding-left: 6px;
}
.avatar{
    height: 50px;
    width:50px;
    object-fit: cover;
    border: 2px solid #fff;
    border-radius: 100px;
}

.avatar1,.avatar2,.avatar3 {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border: 2px solid #fff;
    border-radius: 100px;
    position:absolute;
}

.avatar1 {
    margin-left: 42px;
}

.avatar2{
    margin-left:82px;
}

.avatar3 {
    margin-left: 123px;
}

.avatarimg{
    display: flex;
    flex-direction: row;
}

.textright{
    color:#717275;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size:18px;
    margin-left:165px;
}

/* ----------------- Block Speakers -------------- */
.block_speaker{
    background-color: #f0f8ff;
    margin-top: 50px;
    padding: 50px;
}

.speaker_info{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.speaker_list{
    margin: 88px 58px 78px 112px;
}

.left_speaker{
    width: 50%;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 14px;
}

.speaker_title{
    font-size: 46px;
    padding-bottom: 22px;
    margin-top: -10px;
    letter-spacing: 1.3px;
}

.spanid{
    color:#0dcaf0;
    text-decoration: underline;
}

.textword1{
    color:#717275;
    line-height: 1.6;
    font-size: 18px;
    width:90%
}

/* ------------- right speaker---------------- */
.right_speaker{
    width:565px;
    height: 360px;
    overflow: hidden;
    position: relative;
    display: block;
    
}

.logan{
    width: 100%;
    height:100%;
    position: absolute;
    display: flex;
    object-fit: cover;

}

.tag1{
    position:absolute;
    background-color:#0d6efd;
    padding: 6px 11px;
    color:#fff;
    top:3%;
    left:83%;
    border-radius: 6px;
    font-size:12px;
}
.right_speaker .position-relative{
    position: relative;
    z-index: 2;
}

.right_speaker .name{
    position: absolute;
    /* border-left: 6px solid #0dcaf0; */
    width:92%;
    top:77%;
    left:4%;
    padding: 8px 12px;
    background-color: #fff;
    z-index: 2;
}
.right_speaker .name:before {
    content:'';
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width:6px;
    background-color:#0dcaf0;
    z-index:1;
    transition: all 0.6s linear;
}

.namelogan{
    font-size: 24px;
    /* color:#fff */
}

.namelogan_position{
    font-size: 12px;
    color:#717275;
}

.right_speaker .name{
    display: flex;
}

.right_speaker:hover .name:before{
    width:100%;
}

.right_speaker:hover .namelogan{
    color:#fff;
    transition: all 0.2s linear;
}
.right_speaker:hover .namelogan_position{
    color:#fff;
    transition: all 0.2s linear;
}

.nameicon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 190px;
    visibility: hidden;
}

.icon-social{
    color:black;
    padding: 3px 8px;
    background-color: #fff;
    border-radius: 50px;
    font-size:20px;
    margin-right:5px;
}

.right_speaker:hover .nameicon{
    transition-delay:0.8s;
    visibility: visible;
}

.icon-social:hover{
    background-color: #0dcaf0;
    color: #fff;
    transition:0.4s;
    /* font-size: 18px; */
}

/* --------other speakers----------------------- */
.otherspeaker{
    margin-top: 25px;
    margin-left: -40px;
}
.list_of_speakers{
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.list_other_speaker {
    width: 50%;
    height: 180px;
    overflow: hidden;
    position: relative;
    display: block;
}

.speakersimg{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    object-fit: cover;
}

.list_other_speaker .name {
    position: absolute;
    /* border-left: 6px solid #0dcaf0; */
    width: 83%;
    top: 50%;
    left: 9%;
    padding: 10px 15px;
    background-color: #fff;
    z-index: 2;
}

.list_other_speaker .position-relative {
    position: relative;
    z-index: 2;
}

.list_other_speaker .name:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 4px;
    background-color: #0dcaf0;
    z-index: 1;
    transition: all 1s linear;
}

.list_other_speaker:hover .name:before {
    width: 100%;
}

.speakername {
    font-size: 22px;
}

.speakername_position {
    font-size: 12px;
    color: #717275;
    padding-top: 2px;
}

.list_other_speaker .name {
    display: flex;
}

.list_other_speaker:hover .name {
    background-color: #0dcaf0;
    color: #fff;
    transition: all 0.2s linear;
}

.list_other_speaker:hover .speakername_position {
    color: #fff;
    transition: all 0.2s linear;
}

.nameicon2 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 18px; */
    visibility: hidden;
}

.icon-social2 {
    color: black;
    padding: 3px 8px;
    background-color: #fff;
    border-radius: 50px;
    font-size: 18px;
    margin-right: 5px;
}

.list_other_speaker:hover .nameicon2 {
    visibility: visible;
    transition: all 1s linear;
}

.icon-social2:hover {
    background-color: #0dcaf0;
    color: #fff;
    transition: 0.4s;
    /* font-size: 17px; */
}

.list_other_speaker:hover .nameicon2 {
    transition-delay: 0.4s;
    visibility: visible;
}

#idicon{
    margin-left: 15px;
}

/* ------------------------ Schedule Section ------------------ */
.schedule_section{
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding-bottom: 78px;
}

.schedule_div{
    width:81%;
    /* border: 1px solid black; */
}

.title_schedule{
    display: flex;
    justify-content: center;
}

.schedule_title{
    font-size: 48px;
    padding: 106px 0 48px 15px;;
}

.schedule_div .spantitle2{
    color:#0dcaf0;
    text-decoration: underline;
}

/* ------------- button ------------ */
.day_box_block{
    display: flex;
    flex-direction: row;
    gap:17px;
    margin-bottom:9px;
}

.day_insidebox{
    display: block;
    width: 100%;
}

.schedule_day{
    background-color: #ffffff;
    border:none;
    display: flex;
    align-items: start;
    width:100%;
    padding: 20px 30px;
    border-left:3px solid #f0f8ff;
    cursor: pointer;;
    /* padding: 20px 100px 20px 20px; */
}

#dayoneschedule{
    border-left:none;
}

.schedule_day h3{
    font-size:36px;
    letter-spacing: -1px;
}

.schedule_day p{
    font-size:16px;
    font-weight: lighter;
    color:#717275;
    display: flex;
    align-items: start;
    letter-spacing: -0.4px;
    
}

.day_insidebox:hover .schedule_day{
    background-color: #fff;
    border-left: 3px solid #0dcaf0;
    box-shadow: 2px 10px 50px rgba(0, 0, 0, 0.175);

}

.day_insidebox:hover .schedule_day h3{
    color:#0dcaf0;
}

/* -------------------------- Schedule Info ----------------- */

.info_block{
    display: flex;
    flex-direction: row;
    gap: 23px;
    margin-left: -2px;
    margin-right: -20px;
    padding-bottom: 46px;
    padding-top: 48px;
    border-bottom: 1px solid #dee2e6;
}

#info_block_id{
    border-bottom:none;
}

.info_img{
    height: 238px;
    width:493px;
    /* border: 1px solid darkblue; */
    display: block;
    /* border-radius: 10px; */

    
}
.info_img img{ 
    display: block;
    height:100%;
    width:100%;
    object-fit: cover;
    border-radius: 20px;
}

.info_details{
    width:92%;
}

.info_details .info1_head{
    font-size: 32px;
    padding-bottom: 7px;
    letter-spacing: -0.1px;
}

.info1_head_explain{
    font-size:18px;
    color:#717275;
    line-height: 1.43;
}

.trainee{
    display: flex;
    flex-direction: row;
    gap:90px;
    align-items: center;
    padding-top:28px;
}

.trainee img{
    width: 45px;
    height: 45px;
    border-radius: 100px;
    object-fit: cover;
}

.imgname_trainee{
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    /* align-items: center; */
    width: 190px;
    margin-left: -15px;
    margin-right: -56px;
}

.name_trainee span{
    color:#717275;
    font-size: 11px;
}

.name_trainee p{
    font-size:16px;
}

.time_trainee i,.hall_trainee i{
    padding-right:6px;
}

/* --------------------- Register Section ---------- */
.register{
    background-image: url(./images/terren-hurst-blgOFmPIlr0-unsplash.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%;
    height:100%; */
    padding-top: 115px;
    padding-bottom:136px;
    background-attachment: fixed;
    position: relative;    
}

.register::before{
    content: '';
    background-color: rgba(0, 0, 0, 0.45);
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.register_section{
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 94px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
}

.register_section .left_register{
    width:660px;
}

.register_section .right_register{
    width: 360px;
    display: flex;
    margin-top: 20px;
    margin-right: -16px;
    justify-content: center;
}

.left_register h2{
    font-size: 48px;
    color:#fff;
    padding-bottom: 22px;
    letter-spacing: 0.1px;
    padding-left: 1px;
}

.left_register h2 span{
    color:#0dcaf0;
}

.left_register p{
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
}

.right_register .button_register{
    background-color: #fff;
    padding: 12px 20px;
    color:#000;
    font-weight: 800;
    border-radius: 30px;
}

.button_register:hover{
    color:#fff;
    background-color: #0dcaf0;
    transition:all 0.1s linear;
}

/* ------------------------ Ticket Section ------------------ */

.ticket_section{
    /* border:1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 86%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:117px;
    margin-bottom: 20px;
    padding: 2px;
}

.ticket_section h2{
    font-size: 48px;
    color:#000;
    padding-bottom: 54px;
    padding-left: 18px;
}

.ticket_section h2 span{
    color:#0dcaf0;
    text-decoration: underline;
}

.ticket_option{
    display: flex;
    flex-direction: row;
    gap:25px;
    margin-left: 15px;
}
.ticket_optionbox{
    /* border: 1px solid black; */
    width: 356px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 3px 10px 50px #d4cdcd;
}

.ticket_head{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid black; */
    background-color: #273053;
    color:#fff;
    padding: 17px 4px 17px 40px;
    overflow: hidden;
    position: relative;
    gap:76px;
}

.head_name h3{
    font-size: 32px;
}

.price h4{
    font-size: 24px;
}
.ticket_body{
    color: #717275;
    font-size: 18px;
    padding: 23px 36px;
}

.body_details{
    padding-bottom: 36px;
    /* border:1px solid #717275; */
    border-bottom: 1px solid #dee2e6;
}

.body_details p{
    padding-top: 20px;
    justify-content: start;
    display: flex;
}
.body_details p span{
    padding-right: 10px;
}

.other_details a{
    color:#fff;
    background-color: #273053;
    border-radius: 25px;
    padding: 12px 20px;
    font-weight: 600;
}

.other_details{
    padding-bottom: 34px;
}

.other_details a:hover{
    background-color: #0dcaf0;
    color:#fff;
    transition: all 0.1s linear;
}

.other_details p{
    padding-top:22px ;
    padding-bottom: 44px;
}

#ticket_head_gold{
    gap:145px;

}

/* --------------------------------- Venue Location ------------------ */
.venue_section{
    /* border: 1px solid black; */
    margin-top:100px;
    width: 100%;
    padding-top:138px;
    padding-bottom: 122px;
    background-color: #f0f8ff;
}

.venue_block{
    /* border:1px solid black; */
    width:84%;
    margin-left: auto;
    margin-right: auto;
}

.venue_block h2{
    font-size: 48px;
    padding-bottom: 44px;
    padding-left: 18px;

}

.venue_block h2 span{
    color:#0dcaf0;
    text-decoration:underline;
}

.venue_block_flex{
    display: flex;
    flex-direction: row;
    gap:47px;
    /* width: 80%; */
}

.venue_location iframe{
    width:540px;
    height: 372px;
    border-radius: 20px;
    box-shadow: 1px 4px 25px rgba(192, 189, 189, 0.45);
}

.venue_address{
    border-radius: 20px;
    background-color: #fff;
    height:358px;
    overflow: hidden;
    box-shadow: 1px 3px 40px rgba(129, 127, 127, 0.45);
}

.venue_address_title{
    background-color: #273053;
    padding: 18px 40px;
    color:#fff;
}
.venue_address_title h3{
    font-size: 48px;
}

.venue_contact_address{
    padding:20px 44px;
    letter-spacing: -0.3px;
    /* background-color: #161616; */
}

.venue_contact_address p a{
    color:#717275;
    letter-spacing: -1px;
}

.venue_contact_address p a:hover{
    color:#0dcaf0;
    transition: all 0.1s linear;
}

.venue_contact_address p{
    padding-top:18px;
}

.venue_contact_address .venue_exact_address{
    font-size: 32px;
    font-weight: 800;
}

.venue_contact_address p{
    font-size: 24px;
    font-weight: 800;
}

.venue_contact_address span{
    padding-right:8px;
}

.venue_contact_address i{
    padding-right: 5px;
}

.address1,.address2{
    display:flex;
}

.address1 .material-symbols-outlined{
    margin-top: 22px;
    font-size: 34px;
    margin-left:-8px;
}

.address2 .material-symbols-outlined{
    margin-top:22px;
    margin-left:-4px;
    margin-right:5px;
    color:#717275;
} 

.address2 a{
    color:#717275;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: -1px;
}

.address2 a:hover{
    color:#0dcaf0;
    transition:all 0.1s linear;
}

/* --------------------- Form Section ------------- */
.form_section{
    /* border:1px solid black; */
    background-image: url(./images/maria-stewart-p4tj0g-_aMM-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 120px;
    padding-bottom:118px;
    width: 100%;
}

.form_container{
    /* border: 1px solid black; */
    border-radius: 20px;
    width:55%;
    margin-left: 16px;
    /* margin-right: auto; */
    background-color: #fff;
    overflow: hidden;

}

.form_title{
    background-color: #273053;
    color:#fff;
    padding: 28px 55px;
}

.form_title h2{
    font-size:48px;
}

.form_section form{
    padding: 60px 51px;
}

form .form_lineone{
    display:flex;
    /* flex-direction: row; */
    /* width: 100%; */
    gap:20px;
    padding-bottom: 24px;
}

form .form_lineone input{
    padding: 14px 12px;
    border: none;
    font-weight: lighter;
    width:200px;
    font-size: 18px;
    color: #212529;
    background-color:#f0f8ff;
    font-family: Arial, Helvetica, sans-serif;
}

form .form_message textarea{
    width:100%;
    font-size: 18px;
    background-color: #f0f8ff;
    padding:13px 12px;
    border:none;
    color: #212529;
    margin-bottom:16px;  
    font-family: Arial, Helvetica, sans-serif;
}

.form_message{
    text-align: center;
    margin-left: auto;
    margin-right: auto;   
    /* background-color: #0dcaf0; */
    width: 100%;
    margin-bottom: -10px;
}

.form_section .form_message .button{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    cursor:pointer;
    font-size: 16px;
    font-weight: 600;
    background-color: #0dcaf0;
    color:#fff;
    border:none;
    border-radius: 100px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

.form_section .form_message .button:hover{
    background-color: #273053;
    transition: all 0.1s linear;
}

/* ---------------------------- Footer ------------------- */
footer{
    /* border: 1px solid black; */
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer_section{
    /* border: 1px solid black; */
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 120px; */
    width:82%;
    /* padding-bottom: 120px; */
}

.footer_block_one{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding-bottom: 54px;
    border-bottom: 1px solid #d4cdcd;
}

.title_footer{
    display: flex;
    align-items: center;
    gap: 10px;
}

.title_footer i{
    font-size: 36px;
    color: #0dcaf0;
}

.footer_block_one h3{
    width: 50px;
    color: #0dcaf0;
    line-height: 1;
}

.social_media{
    display: flex;
    gap: 12px;
    margin-right: -8px;
}

.social_media a{
    color:#000;
    border-radius: 100px;
    padding: 8px 12px;
    font-size: 22px;
}

.social_media a:hover{
    color:#fff;
    background-color: #0dcaf0;
    transition: all 0.1s linear;
}


/* -------- Second Block Footer ----- */
.footer_block_two{
    padding-top:30px;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}

.footer_block_two .div_one{
    display:flex;
    gap:21px;
    width:44%;
}

.footer_block_two a:hover{
    color:#0dcaf0;
}
.footer_block_two a{
    color: #717275;
}

.footer_block_two .div_two{
    color:#717275;
}

.footer_block_two .div_two .design{
    padding-top: 30px;
}

.div_two{
    display: flex;
    gap:33px;
    align-items: center;
    justify-content: center;
}

.div_two .downarrow a{
    color:#000;
    background-color: #f0f8ff;
}

.div_two .downarrow{
    padding-top: 40px;
}   

.div_two .downarrow a:hover{
    color:#fff;
    background-color: #0dcaf0;
    transition: all 0.1s linear;
}






